body{
    background-color: #172451;
}
.container{
    background-color: #fff;
    text-align: center;
    padding: 25px 0px;
    width: 50%;
    margin: 0 auto;
}

.container > h1{
    color: red;
}

img:hover{
    box-shadow: 7px 8px 15px 3px black;
    transition: all ease .4s;
}
